p
{
    font-family: Helvetica;
    font-style: italic;
    color: #003049;
    margin-left: 16px;
}
div{
    margin-left: 16px;
}
h1{
    margin-left: 16px;
}
h2{
    margin-left: 16px;
}
h3{
    margin-left: 16px;
}
h4{
    margin-left: 16px;
}
h5{
    margin-left: 16px;
}
h6{
    margin-left: 16px;
}
.newsletter{
    margin-top: 8px;
    margin-left: 0px;
    margin-right: 550px;
    margin-bottom: 8px;
    color: #003049;
}
#submit{
    padding-left: 8px;
    text-align: left;
    margin-left: 0px;
    margin-right: 500px;
    margin-top: 16px;
}
#adline{
    width: 20%;
    border-collapse: collapse;
    text-align: center;
    background-color: transparent;
    color: #fdf0d5;
    align-content: center;
    margin-left: 0px;
}
.h{
    border-right: 2px solid #003049;
}
#tel{
    margin-right: 19px;
    position: relative;
    right: -1255px;
    top: -150px;
    text-align: left;
    align-content: left;
}
#inputname{
    margin-left: 0px;
    text-align: left;
}
.forms{
    background-color: #F2E5CB;
}
.formcontent{
    margin-left: 19px;
}
#check{
    cursor: pointer;
}
#Img{
    margin-top: 0px;
}
#Header
{
    color:#003049;
    font-style:italic;
    text-align:center;
    font-size:50px;
}
#Skills{
    text-align: center;
    color: #003049;
    font-size: 30px;
    font-style: italic;
    font-family: Roboto regular;

}
#proj{
    text-align: center;
    margin-right:10px;
    color: #003049;
    font-size: 30px;
    font-style: italic;
    font-family: Roboto regular;
}
#forms{
    text-align: center;
    margin-right:10px;
    color: #003049;
    font-size: 30px;
    font-style: italic;
    font-family: Roboto regular;
}
[type="checkbox"]{
    position: absolute;
    left:250px
}
#media{
    text-align: center;
    color: #003049;
    font-size: 30px;
    font-style: italic;
    font-family: Roboto regular;
}
.mplat{
    color: #c1121f;
    padding: 8px;
    font-family: Arial;
}
a{
    color: #c1121f;
}
.ssets{
    padding: 13px;
}
#projtbl{
    width: 20%;
    border-collapse: collapse;
    border: 2px solid #fdf0d5;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #c1121f;
    color: #fdf0d5;
    align-content: center;
}
input[type="text"]{
    padding: 1px 5px;
}
input[type="email"]{
    padding: 1px 5px;
}





